/* Contenedor del slider */
.slider-container {
  display: flex;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  gap: 10px; /* Espacio entre las imágenes */
  padding: 16px 0; /* Espaciado vertical */
  scroll-snap-type: x mandatory; /* Hace que el scroll se ajuste a cada imagen */
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
  margin-bottom: 1rem;
}

/* Cada item del slider */
.slider-item {
  flex: 0 0 auto; /* Evita que los items se estiren */
  scroll-snap-align: start; /* Ajusta el scroll al inicio de cada item */
}

/* Estilos de las imágenes */
.slider-image {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 300px; /* Ancho fijo para las imágenes */
  height: 380px; /* Alto fijo para las imágenes */
  object-fit: cover; /* Ajusta la imagen al tamaño sin distorsionarla */
  border-radius: 10px !important;
}

.descripcion-servicios {
  padding: 20px 32px 20px 32px;
  background-color: #f0e3d3;
  color: #3a2127;
  font-size: 1.2rem;
}

.destacados {
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
}
.destacados>h2{
    color: #3A2127;
    text-align: center;
    font-size: 2rem;
}
