.vista-cafe{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 13vh 1.2rem 1.2rem 1.2rem;
    background-image: url('/public/cafe/cafe-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.vista-cafe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 1;
}

.vista-cafe > * {
    position: relative;
    z-index: 2;
}
.titulo-servicios{
    color: white;
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.texto-informativo{
    font-weight: bold;
    font-size: 2.2rem;
    color: white;
    text-align: center;
    padding: 2rem 0 2rem 0;
}
.container-btn-servicios{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
}
@media(max-width:768px){
    .vista-cafe{
        background-image: url('/public/cafe/cafe-3.jpg');
        background-color: rgba(0, 0, 0, 0.664);
    } 
    .container-btn-servicios{
      flex-direction: column;
    }

    #contactanos-link{
        margin-top: 10px;
    }
    .texto-informativo{
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        padding: 2rem 0 2rem 0;
    }
}