.navbar {
    background-color: white;
    box-shadow: 0 4px 2px -2px #3a21272c;
    height: 11vh;
    width: 100%;
    position: fixed;
    z-index: 999;
  }
  .navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .container-logo-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
  }
  .container-logo-nav:hover{
   cursor: pointer;
  }
  .img-logo-nav{
    width: auto;
    height: 80%;
  }
  .nav-item{
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    padding: 8px 15px 8px 15px;
    color: #5B3911;
    border: solid 1.8px #5B3911;
    border-radius: 18px;
  }
  .nav-item:hover{
    cursor: pointer;
    color: white;
    border: solid 1.8px #B67221;
    background-color: #B67221;
  }
  
  .active{
    cursor: pointer;
    color: white;
    border: solid 1.8px #B67221;
    background-color: #B67221;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #b6732169;
}

@media(max-width: 768px){
  .navbar-nav{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    flex-direction: row;
  }
    .navbar{
      height: auto;
    }
    .container-options{
      height: auto;
    }
    .nav-item{
      padding: 8px 5px 8px 5px;
      color: black;
      border: solid 1.8px black;
    }
    .active{
      cursor: pointer;
      color: white;
      border: solid 1.8px black;
      background-color:black;
    }
    .nav-item:hover{
      cursor: pointer;
      color: white;
      border: solid 1.8px black;
      background-color: black;
    }
}