.navbar {
    background-color: white;
    box-shadow: 0 4px 2px -2px #3a21272c;
    height: 11vh;
  }
  
  .navbar .ant-menu-item {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    border: 1px solid #5B3911;
  }
  
  .navbar .ant-menu-item-selected {
    background-color: #B67221 !important;
    border: none;
  }
  
  .navbar .ant-menu-horizontal {
    border-bottom: none;
  }
  