.navbar {
    background-color: white;
    box-shadow: 0 4px 2px -2px #3a21272c;
    height: 11vh;
  }
  
  .container-options{
    width: 100%;
    height: 11vh;
    padding: 2rem;
    background-color: red;
  }